<h1>Bienvenidos a nuestro Chat de soporte! </h1>


<div class="container">
        <div id="chat-box">
            <ul id="messagesLogs"></ul>
            <div id="message-input">
                <input type="text" id="chatBox" placeholder="Escribe un mensaje...">
                <button id="sendButton"><img src="" alt="Enviar"></button>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="css/chat.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>